.pricecard-container1{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricecard-container2{
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.price{
    width: 100%;
    height: 500px;

}
.pricecard{
    width: 100%;
   
}
.priceimage img{
    width: 100%;
}
.prceimage img{
    width: 100%;
}
.pricepara{
    width: 100%;
}
.pricecard-container2 {
    display: flex;
  }
  
  .price1,
  .price2,
  .price3 {
    flex: 1;
  }
  @media screen and (min-width: 900px) {
    .pricecard-container2{
        width: 70%;
        height: 400px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
    .pricecard-container3{
        display: none;
    }
  }
  @media (min-width: 522px) and (max-width:900px) { 
    .pricecard-container1{
        width: 100%;
        height: 900px;
    }
    .pricecard-container2 {
       
        display: none;
      }
      .pricecard-container3 {
        width: 90%;
      }
      .pRice{
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
      
      
    }
 @media screen and (max-width: 522px) {
    .pricecard-container1{
        height: 1050px;
    }
        .pricecard-container2{
          flex-direction: column;
          height: 1000px;
        }
.pricecard-container3{
    display: none;
}
    }